PORT=5002
HOST=0.0.0.0
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/trai_citizen_hub
CLIENT_URL=http://localhost:8085
CORS_ORIGIN=http://localhost:8085
JWT_ACCESS_SECRET=your_access_secret_here_min_32_chars
JWT_REFRESH_SECRET=your_refresh_secret_here_min_32_chars
